<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel='stylesheet' href='/stylesheets/journeyListStyle.css'/>
        <link rel='stylesheet' href='/stylesheets/notrainStyle.css'>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9518c0153b.js" crossorigin="anonymous"></script>
        <title>TickeTac - journey list</title>
    </head>
    <body>
        <%- include('navbar'); %>

        <% if(listOfJourney.length == 0){ %>
            <div class="noTrain_principal">
                <h3 class="h3">Oops ! No train available...</h3>
                <a class="button_notrain" href="/home">Home</a>
            </div>
        <% } else { %>
        <div class="contentJourneyList">
            <div class="ticketsContent">
                <h3 class="titleTickets">Tickets avalible on <%= dateMonthDay %> :</h3>
                <% for(let i=0; i<listOfJourney.length; i++){ %>
                <div class="ticketCard">
                    <h4><%= listOfJourney[i].departure %> / <%= listOfJourney[i].arrival %></h4>
                    <p class="textDeparture">Train departure at: <%= listOfJourney[i].departureTime %></p>
                    <div class="endCard">
                        <h4><%= listOfJourney[i].price %>€</h4>
                        <button>OK</button>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <% } %>
    </body>
</html>